@charset "UTF-8";

/* reset  */
body {
    width : 100%; 
    margin: 0 auto; 
    padding: 0;
}  /*외우기 (margin과 padding)*/
a {
    text-decoration: none;
} /*링크를 걸때 색이 변하는것을 지우는 코드*/
li {
    list-style: none;
} /*자동 꾸밈 끄기*/

/* header */
header {
    width: 1200px; 
    /* height: 100px; */
    background-color: #111;
}  /*RGB사용 0~225까지 각각 ex)255,255,255=하양 [#f(f)f(f)f(f)]=하양*/
.logo{
    float:left;
    width: 200px; 
    height: 100px; 
    background-color: #222;
}
.menu{
    float:left;
    width: 1000px;
    height: 100px;
    background-color: #333;
}

